#body1 {
    color:black;
    background-color:lightgrey 
}


#body2 {
    color:black;
    background-color: lightgray;
}

#body3 {
    color:black;
    background-color: lightgrey;
}

#ul2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #5b5b5b;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(99, 99, 99);
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a :hover {
    background-color:#5b5b5b;
    color:white;
    

  }
#rgb {
    list-style-type: square;

}
